-content_for :main do
  / %section.whole.breadcumbs
  %section.three-fourths.paperpile
    .imgs
      = image_tag(resource.logo.medium.url, class: 'initiative-logo')
      = gmaps(map_options: { detect_location: false, center_on_user: false, auto_zoom: false, zoom: 15, :disableDefaultUI => true, container_class:"map_wrapper", language: "nl" },markers: { data: @json })

    .factsheet
      .title.one
        %h2{title: @initiative.name}= @initiative.name
        %i.sweets-heart.sweets-large

      %dl.multiple-table
        %dt Beschrijving:
        %dd= dash(@initiative.description)
        %dt Adres:
        %dd
          - if resource.location.address
            -resource.location.address.try(:split, ",").each do |a|
              =a
              %br
          - else
            \-
      = render 'shared/factsheet_actions'
  =render 'shared/sidebar'
