-content_for :main do
  %section.whole
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :taiga) do |f|
      = f.error_notification

      %fieldset
        %legend Maak hier jouw account voor Grunn.io aan
        = f.input :email, required: true, autofocus: true, input_html: { class: 'half' }, label: "E-mailadres"

        - if f.object.password_required?
          = f.input :password, required: true, input_html: { class: 'half' }, label: 'Wachtwoord'
          = f.input :password_confirmation, required: true, input_html: { class: 'half' }, label: 'Bevestig wachtwoord'

      .form-actions
        = f.submit 'Aanmelden', class: 'btn'
    = render "devise/shared/links"
