= simple_form_for([@person], wrapper: :taiga, html: {multipart: true} ) do |f|
  = f.error_notification

  %fieldset
    %legend gegevens
    = f.input :name
    = f.input :headline
    = f.input :biography, input_html: {rows: 10}
    //= f.input :logo, as: :file
    //= f.input :logo_cache, as: :hidden
    //= f.input :specialities, input_html: {value: @person.specialities.join(","), data:{ specialities: Person.popular_tags_list } , type: "hidden" }
    = f.input :birthdate, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year - 12, order: [:day, :month, :year]
    = f.association :companies, collection: Company.published, label: 'Bedrijven'
    = f.association :initiatives, collection: Company.published, label: 'Initiatieven'

  = f.simple_fields_for :card do |c|
    %fieldset
      %legend contact
      = c.input :general_email_address, as: :email
      = c.input :phone, as: :tel
      = c.input :twitter_username
      = c.input :website_url
    = f.input :published, label: 'profiel publiceren op Grunn.io?'

  .form-actions
    = f.submit "Profiel bijwerken", class: 'btn'
