-content_for :title do
  ="#{resource.name} op Grunn.io"

-content_for :main do
  / %section.whole.breadcumbs
  %section.three-fourths.paperpile
    .imgs
      = image_tag(@person.avatar.medium.url, class: 'person-logo')

    .factsheet
      .title.one
        %h2{title: @person.name}= @person.name
        %i.sweets-person.sweets-large

      %dl.multiple-table
        %dt Headline:
        %dd= dash(@person.headline)
        //%dt Leeftijd:
        //%dd= @person.age
        %dt Biografie:
        %dd= dash(@person.biography)
        %dt Twitter:
        %dd= @person.card.twitter_username.blank? ? "-" : link_to("@#{@person.card.twitter_username}", "http://twitter.com/#{@person.card.twitter_username}")
        %dt Website:
        %dd= @person.card.website_url.blank? ? "-" : link_to("#{@person.card.website_url}", @person.card.website_url)
        %dt Blog:
        %dd= @person.card.blog_url.blank? ? "-" : link_to("#{@person.card.blog_url}", @person.card.blog_url)
        %dt Telefoon:
        %dd= dash(@person.card.phone)
        %dt Bedrijven:
        %dd
          = name_link_list(@person.companies)
        %dt Initiatieven:
        %dd
          = name_link_list(@person.initiatives)


      = render 'shared/factsheet_actions'
  =render 'shared/sidebar'

