= simple_form_for([:admin, @company], :defaults => { :input_html => { :class => 'span4' } }) do |f|
  = f.error_notification

  .form-inputs.well
    %legend gegevens
    = f.input :name,  placeholder: 'bedrijfsnaam...'
    = f.input :description, input_html: {rows: 10}, placeholder: 'Omschrijf het bedrijf in een paar zinnen'

    = f.input :categories, input_html: {value: @company.categories.join(","), data:{ categories: Company.popular_tags_list } , type: "hidden" }

    / = f.input :category

    = f.input :founded_in, :input_html => { :class => 'span1' }, placeholder: "#{Time.now.year}..."
    = f.input :number_of_employees, :input_html => { :class => 'span1' }, placeholder: "1..."
    = f.input :kvk_number, :input_html => { :class => 'span1' }, placeholder: "12345678..."

  = f.simple_fields_for :card do |c|
    .form-inputs.well
      %legend contact
      = c.input :general_email_address, as: :email, placeholder: 'john@appleseed.com'
      = c.input :phone, as: :tel, placeholder: '0501234567'

      = c.input :twitter_username, :wrapper => :prepend, :label => false do
        = content_tag :span, "@", :class => "add-on", :style => 'margin-right: -5px;'
        = c.input_field :twitter_username, placeholder: 'tweetme'
      / = c.input :twitter_username, maxlength: :lookup
      = c.input :website_url, :wrapper => :prepend, :label => false, as: :url do
        = content_tag :span, "http://", :class => "add-on", :style => 'margin-right: -5px;'
        = c.input_field :website_url, placeholder: 'www.website.nl'

  = f.simple_fields_for :location do |l|
    .form-inputs.well
      %legend bezoekadres
      = l.input :street_address, placeholder: 'Grote Markt 1'
      / = l.input :extended_address
      = l.input :postal_code, placeholder: '9700AA'
      = l.input :city, placeholder: 'Groningen'
      / = l.input :locality
      / = l.input :region
      = l.input :country, priority: ['Netherlands']

  .form-actions
    = f.button :wrapped, cancel: admin_companies_path, class: 'btn-large'
