%p#notice= notice

-content_for :topbar do
  = render 'shared/login_bar'

-content_for :header do
  = render 'shared/header'

-content_for :main do
  %section.whole.paperpile.bedrijven
    .third
      .title.one
        %i.sweets-lab.sweets-large
        %h2{title: 'Bedrijven'} Bedrijven
      %p Open database van IT bedrijven en producten uit Groningen: ontdek de parels uit het Noorden of voeg bedrijfsgegevens toe.
      = link_to new_company_path, class: 'btn large' do
        %i.sweets-plus
        toevoegen
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
        %ul
          -@companies.last(3).each do |c|
            %li
              = link_to(c.name, c)
              %span.specialities= c.specialities.try(:join, ',')
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige bedrijven
        %ul
          -@companies.sample(3).each do |c|
            %li
              = link_to(c.name, c)
              %span.specialities= c.specialities.try(:join, ',')

  %section.whole.paperpile.personen
    .third
      .title.one
        %i.sweets-people.sweets-large
        %h2{title: 'Personen'} Personen
      %p Maak kennis met de motor achter de Groninger tech-scene: de locals. Het zijn de mensen die het doen.
      - if account_signed_in?
        = link_to edit_person_path(current_account.person), class: 'btn large' do
          %i.sweets-edit
          werk je profiel bij
      - else
        =link_to new_account_registration_path, class: 'btn large' do
          %i.sweets-plus
          voeg jezelf toe
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
        %ul
          -@people.last(3).each do |p|
            %li
              = link_to(p.name, p)
              %span.specialities= p.specialities.try(:join, ',')
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige personen
        %ul
          -@people.sample(3).each do |p|
            %li
              = link_to(p.name, p)
              %span.specialities= p.specialities.try(:join, ',')


  %section.whole.paperpile.initiatieven
    .third
      .title.one
        %i.sweets-heart.sweets-large
        %h2{title: 'Initiatieven'} Initiatieven
      %p Dag en nacht, altijd wat te doen.
      = link_to new_initiative_path, class: 'btn large' do
        %i.sweets-plus
        toevoegen
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
        %ul
          -@initiatives.last(3).each do |i|
            %li
              = link_to(i.name, i)
              // %span.specialities= p.specialities.try(:join, ',')
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige initiatieven
        %ul
          -@initiatives.sample(3).each do |i|
            %li
              = link_to(i.name, i)



