%p#notice= notice

-content_for :page_header do
  %h1 Welcome to grunn.io!

-content_for :main do
  %section.whole.paperpile.bedrijven
    .third
      .title.one
        %i.sweets-lab.sweets-large
        %h2{title: 'Bedrijven'} Bedrijven
      %p Open database van IT bedrijven en producten uit Groningen: ontdek de parels uit het Noorden of voeg bedrijfsgegevens toe.
      = link_to "toevoegen", new_company_path, class: 'btn'
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
        %ul
          -@companies.last(3).each do |c|
            %li
              = link_to(c.name, c)
              %span.specialities= c.specialities.try(:join, ',')
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige bedrijven
        %ul
          -@companies.sample(3).each do |c|
            %li
              = link_to(c.name, c)
              %span.specialities= c.specialities.try(:join, ',')

  %section.whole.paperpile.personen
    .third
      .title.one
        %i.sweets-people.sweets-large
        %h2{title: 'Personen'} Personen
      %p Maak kennis met de motor achter de Groninger tech-scene: de locals. Het zijn de mensen die het doen.
      = link_to "toevoegen", new_person_path, class: 'btn'
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
        %ul
          -@people.last(3).each do |p|
            %li
              = link_to(p.name, p)
              %span.specialities= p.specialities.try(:join, ',')
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige personen
        %ul
          -@people.sample(3).each do |p|
            %li
              = link_to(p.name, p)
              %span.specialities= p.specialities.try(:join, ',')


  %section.whole.paperpile.initiatieven
    .third
      .title.one
        %i.sweets-heart.sweets-large
        %h2{title: 'Initiatieven'} Initiatieven
      %p Dag en nacht, altijd wat te doen.
      = link_to "toevoegen", new_initiative_path, class: 'btn'
    .third
      .title.two
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
    .third
      .title.three
        %i.icon-random.blue-icon.left
        %h3 Willekeurige initiatieven


