%table.table.table-condensed
  %thead
    %tr
      %th= Job.human_attribute_name(:title)
      %th= Job.human_attribute_name(:description)

  - jobs.each do |job|
    %tr
      %td= link_to job.title, [:admin, job]
      %td= link_to job.description, [:admin, job]
      %td.btn-group
        = link_to admin_job_path(job), class: 'btn btn-mini' do
          %i.icon-zoom-in
        = link_to edit_admin_job_path(job), class: 'btn btn-mini' do
          %i.icon-edit
        = link_to [:admin, job], :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini btn-danger' do
          %i.icon-trash

=link_to t('actions.add', model: Job.model_name.human), new_admin_job_path, class: 'btn btn-large'
