-content_for :main do
  / %section.whole.breadcumbs
  %section.three-fourths.paperpile
    .imgs
      = image_tag(@company.logo.medium.url, class: 'company-logo')
      = gmaps(map_options: { detect_location: false, center_on_user: false, auto_zoom: false, zoom: 15, :disableDefaultUI => true, container_class:"map_wrapper", language: "nl" },markers: { data: @json })

    .factsheet
      .title.one
        %h2{title: @company.name}= @company.name
        %i.sweets-lab.sweets-large

      %dl.multiple-table
        %dt KvK-nummer:
        %dd= dash(@company.kvk_number)
        %dt Beschrijving:
        %dd= dash(@company.description)
        %dt Specialiteiten:
        %dd= dash(@company.specialities)
        %dt Opgericht in:
        %dd= dash(@company.founded_in)
        %dt # werknemers:
        %dd= dash(@company.number_of_employees)
        %dt twitter:
        %dd= @company.card.twitter_username.blank? ? "-" : link_to("@#{@company.card.twitter_username}", "http://twitter.com/#{@company.card.twitter_username}")
        %dt website:
        %dd= @company.card.website_url.blank? ? "-" : link_to(@company.card.website_url)
        %dt blog:
        %dd= @company.card.blog_url.blank? ? "-" : link_to(@company.card.blog_url)
        %dt telefoon:
        %dd= dash(@company.card.phone)

        %dt Adres:
        %dd
          -@company.location.address.try(:split, ",").each do |a|
            =a
            %br
      - if current_account.try(:can_update?, @company)
        = link_to "aanpassen", edit_company_path(@company), class: 'btn'
      - if current_account.try(:can_delete?, @company)
        = link_to "verwijderen", company_path(@company), :confirm => 'weet je het zeker?', :method => :delete, class: 'btn'

  %section.sidebar.fourth.paperpile
    %i.sweets-info.sweets-large
    %p= raw "Grunn.io is een database vol met internet technologie, van de vruchtbare bodem van Groningen. Maak kennis met bedrijven als #{c = Company.all.sample; link_to(c.name, company_path(c))} en de personen achter #{cc = Company.all.sample; link_to(cc.name, company_path(cc))}, voeg zelf gegevens toe of lees het laatste nieuws."

