-content_for :main do
  / %section.whole.breadcumbs
  %section.three-fourths.paperpile
    .imgs
      %img.logo(src="http://placehold.it/160x160&text=Bedrijfslogo")
      %img.map(src="http://placehold.it/160x160&text=Google Maps")

    .factsheet
      .title.one
        %h2{title: @company.name}= @company.name
      %dl.multiple-table
        %dt Specialiteiten:
        %dd= @company.specialities
        %dt Opgericht in:
        %dd= @company.founded_in
        %dt KvK-nummer:
        %dd= @company.kvk_number
        %dt # werknemers:
        %dd= @company.number_of_employees
        %dt Bio:
        %dd= @company.description
        %dt Adres:
        %dd= @company.location.address
        %dt Corporate site:
        %dd= @company.corporate.nil? ? "-" : @company.corporate
        %dt Blog:
        %dd= @company.blog


  %section.sidebar.fourth.paperpile
    %p= "Grunn.io is een database vol met internet technologie, van de vruchtbare bodem van Groningen. Maak kennis met bedrijven als #{Company.all.sample.name} en de personen achter #{Company.all.sample.name}, voeg zelf gegevens toe of lees het laatste nieuws."
