%h4 contact
.row
  %strong.span2= Card.human_attribute_name(:general_email_address)
  %p.span4= card.general_email_address
.row
  %strong.span2= Card.human_attribute_name(:phone)
  %p.span4= card.phone
.row
  %strong.span2= Card.human_attribute_name(:twitter_username)
  %p.span4= card.twitter_username
.row
  %strong.span2= Card.human_attribute_name(:website_url)
  %p.span4= card.website_url
